@model PagedList.IPagedList<OrchardsOnTheBrazos.Models.ExpandedUserDTO>
@using PagedList.Mvc;



@{
    ViewBag.Title = "Admin";
}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center" style="width: 145px;">Residents</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (User.IsInRole("Administrator") || User.IsInRole("Board Member"))
        {
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning" })
                @Html.ActionLink("Edit Roles", "ViewAllRoles", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "btn btn-default" })
            </p>
        }
        <br />
        <div class="row">
            @using (Html.BeginForm("Index", "Admin", FormMethod.Get))
            {
                <div class="form-group col-md-12" style="margin: 0, 0 15px, 0; padding-left: 0">
                    <div class="col-md-8 col-lg-5">
                        @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string, new { @class = "form-control", style = "width: 280px; float: left" })

                        <input class="btn btn-primary" type="submit" value="Search" />
                    </div>
                </div>
            }
        </div>
        <br />
        <div class="table-responsive">
            <table class="table table-small table-hover table-striped">
                <tr>
                    <th scope="col">
                        First Name
                    </th>
                    <th scope="col">
                        Last Name
                    </th>
                    <th scope="col">
                        Email
                    </th>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Board Member"))
                    {
                        <th scope="col">
                            Locked Out
                        </th>

                        <th scope="col">
                            Admin Actions
                        </th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Board Member"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
                            </td>

                            <td>
                                @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName }) |
                                @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                                {
                                    @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName },
                                                                                                      new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                                }
                            </td>
                        }
                    </tr>
                }


            </table>
        </div>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model,
                                                                      page => Url.Action("Index",
                                                                      new
                                                                      {
                                                                          page,
                                                                          searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
                                                                          currentFilter = ViewBag.CurrentFilter
                                                                      }))
        <hr />
    </div>
</div>

