@model OrchardsOnTheBrazos.Event

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventPost)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EventPost)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EventPicture)
            </dt>
    
            <dd>
                @*@Html.DisplayFor(model => model.EventPicture)*@
                <img src="@Url.Content("~/Content/Images/" + Model.EventPicture)" class="img-responsive" />
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
