@model OrchardsOnTheBrazos.Event
    <div>
        <h4>Event</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventPost)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EventPost)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EventPicture)
            </dt>    
            <dd>              
                <img src="@Url.Content("~/Content/Temp/" + Model.EventPicture)" class="img-responsive" />
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

