@model IEnumerable<OrchardsOnTheBrazos.Models.Events>

<section class="events-home info">
    <button type="button" class="btn btn-warning adminActions create" data-toggle="modal" data-target="#eventCreate">Create</button>
    <div class="col-lg-12 center-block">
        <h2 class="text-center">Events</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 no-gutters center-block">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 no-gutters">
                    <div class="panel">
                        <div class="panel-heading panel-primary">
                           <h3 class="panel-title">@Html.DisplayFor(modelItem => item.EventName)</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                @Html.DisplayFor(modelItem => item.EventPost)<br /><br />
                                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-primary btn-sm adminActions" onclick="RenderActions('/Events/Edit/@item.EventId')">Edit</button>
                                <span>|</span>
                                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-default btn-sm adminActions" onclick="RenderActions('/Events/Details/@item.EventId')">Details</button>
                                <span>|</span>
                                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-danger btn-sm adminActions" onclick="RenderActions('/Events/Delete/@item.EventId')">Delete</button>
                            </p>
                            <img src="@Url.Content("/Content/Temp/")@item.EventPicture" class="img-responsive " />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@Html.Partial("_CreateModal")
@Html.Action("_Create");

@section Scripts {
    
    @if (TempData["Errormsg"] != null)
    {
        <script>
            $(document).ready(function () {
                console.log("success");
                $('#errorModal').modal(function () {
                    this.show();
                });
            });
        </script>
    }
}