@model IEnumerable<OrchardsOnTheBrazos.Event>

<section class="events-home info">
    <button type="button" class="btn btn-default adminActions create" data-toggle="modal" data-target="#eventCreate">Create</button>
    <div class="col-lg-12 center-block">
        <h2 class="text-center">Events</h2>
    </div>
    <div class="row">
        <div class="col-lg-12 no-gutters center-block">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 no-gutters">
                    <div class="info-box">
                        <p>
                            @Html.DisplayFor(modelItem => item.EventPost)<br /><br />
                            @if (User.IsInRole("Board Member") || User.IsInRole("Administrator"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.EventId, }, new { @class = "adminActions" })<span>|</span>
                                @Html.ActionLink("Details", "Details", new { id = item.EventId }, new { @class = "adminActions" })<span>|</span>
                                @Html.ActionLink("Delete", "Delete", new { id = item.EventId, }, new { @class = "adminActions" })
                            }
                        </p>

                        <img src="@Url.Content("/Content/Temp/")@item.EventPicture" class="img-responsive " />
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@Html.Action("_Create");

@section Scripts {
    <script>
        $(document).ready(function () {

            $('.info-box').hover(

                function () {
                    var target = $(this).find("p");
                    $(target).show();
                },

                function () {
                    $(".info-box > p").hide();
                }
            );
        });
    </script>
}