@model IEnumerable<OrchardsOnTheBrazos.Models.Announcements>
<div class="col-lg-12 center-block no-gutters">
    <h2 class="text-center">Announcements</h2>
</div>
@foreach (var item in Model)
{
    <div class="col-lg-6 no-gutters info">
        <div class="info-box">
            <h5 class="text-center">
                @Html.DisplayFor(modelItem => item.Title)
                <br /> <span>@Html.DisplayFor(modelItem => item.Date)</span>
            </h5>
            <p>
                @Html.DisplayFor(modelItem => item.Announcement)
                <br /><br />
                @if (User.IsInRole("Board Member") || User.IsInRole("Administrator"))
                {
                      <a data-toggle="modal" data-target="#modalCreate" class="adminActions" onclick="RenderActions('/Announcements/Edit/' + @item.Id)">Edit</a> <span>|</span>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = " adminActions" }) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "adminActions" })
                }
            </p>
        </div>
    </div>
}


