@model IEnumerable<OrchardsOnTheBrazos.Models.Announcements>
<section>
    <div class="row">        
        @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>
                @Html.DisplayFor(modelItem => item.Title)
                <br /><span> @Html.DisplayFor(modelItem => item.Date)</span>
            </h3>

            <p>
                @Html.DisplayFor(modelItem => item.Announcement)
            </p>
            <div class="row">
                @if (User.IsInRole("Board Member") || User.IsInRole("Administrator"))
            {
                <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default adminActions" }) </span>
                <span>@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default adminActions" }) </span>
                <span>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default adminActions" }) </span>
        }
            </div>
        </div>
}
    </div>
</section>

