<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 nav">
    <div class="navbar navbar-inverse">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul>
                @Html.Partial("_LoginPartial")
                @if (User.Identity.IsAuthenticated)
                {
                    <li><i class="fa fa-home"></i>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><i class="fa fa-folder-open"></i>@Html.ActionLink("Documentation", "Index", "Supports")</li>
                    <li><i class="fa fa-calendar"></i>@Html.ActionLink("Events", "Index", "Events")</li>
                    <li><i class="fa fa-link"></i>@Html.ActionLink("Resources", "Index", "Info")</li>
                    <li><i class="fa fa-info"></i>@Html.ActionLink("Account Info", "Account", "Info")</li>
                    <li><i class="fa fa-database"></i>@Html.ActionLink("Directory", "Directory", "Home", new { @class = "disabled" })</li>
                }

                @if (User.IsInRole("Administrator") || User.IsInRole("Board Member"))
                {
                    <li><i class="fa fa-user-secret"></i>@Html.ActionLink("Administration", "Index", "Admin")</li>
                }
            </ul>
        </div>
    </div>
</div>


