<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Roboto+Slab|Titillium+Web" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            @Html.Partial("_Header")
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 no-gutters">
                @Html.Partial("_Banner")
                @RenderBody()
                @if(User.IsInRole("Administrator") || User.IsInRole("Board Member"))
                {
                    @Html.Partial("_AdminAction")
                }
                @Html.Partial("_Error")
            </div>
        </div>
        <footer>
            <div class="container-fluid row">
                <p class="text-center">&copy; @DateTime.Now.Year - Orchards On The Brazos</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Editor.js")
    @Scripts.Render("~/Scripts/main.js")
    @RenderSection("scripts", required: false)
</body>
</html>
