@model IEnumerable<OrchardsOnTheBrazos.Support>

<section class="row info">
    <button type="button" class="create btn btn-warning adminActions" data-toggle="modal" data-target="#createModal">
        Create
    </button>
    <div class="col-md-12 center-block">
        <h2 class="text-center">Meeting Documents</h2>
    </div>
</section>

@foreach (var item in Model)
{
    <div class="accordion" id="accordion">
        <div class="card">
            <div data-toggle="collapse" data-target="@item.SupportId" aria-expanded="true" aria-controls="@item.SupportId" class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
            <div id="@item.SupportId" class="collapse show card-body" aria-labelledby="headingOne" data-parent="#accordion">
                @Html.DisplayFor(modelItem => item.Summary)

                @if (item.FileDetails.Count() == 0)
                {
                    <span>No File</span>
                }
                else
                {
                    <span>@item.FileDetails.Count() File(s)</span>
                }
                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-primary btn-sm adminActions" onclick="RenderActions('/Supports/Edit/' + @item.SupportId)">Edit</button>
                |
                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-sm btn-primary btn-danger adminActions" onclick="RenderActions('/Supports/Delete/' + @item.SupportId)">Delete</button>
            </div>
        </div>
    </div>
}

@Html.Partial("_CreateModal")
@Html.Action("_CreateDocumentModal", "Supports")
