@model IEnumerable<OrchardsOnTheBrazos.Support>

<h2>Index</h2>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        Create
    </button></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>Total Files</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @if (item.FileDetails.Count() == 0)
                {
                    <span>No File</span>
                }
                else
                {
                    <span>@item.FileDetails.Count() File(s)</span>
                }
            </td>
            <td>
                @*<a data-toggle="modal" onClick="RenderActions('/Supports/Edit/' + @item.SupportId)" data-target="#editModal">Edit</a>*@
                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-primary btn-sm" onclick="RenderActions('/Supports/Edit/' + @item.SupportId)">Edit</button>
                |
                <button data-toggle="modal" data-target="#modalCreate" type="button" class="btn btn-sm btn-primary btn-danger" onclick="RenderActions('/Supports/Delete/' + @item.SupportId)">Delete</button>
            </td>
        </tr>
    }

</table>
@Html.Partial("_CreateModal")
@Html.Action("_CreateDocumentModal", "Supports")
